aiohttp==3.7.3
async-exit-stack==1.0.1
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
chardet==3.0.4
fastapi==0.63.0
idna==2.10
multidict==5.1.0
numpy==1.20.1
psycopg2==2.8.6
pydantic==1.7.3
requests==2.25.1
SQLAlchemy==1.3.22
starlette==0.13.6
telepot==12.7
typing-extensions==3.7.4.3
urllib3==1.26.2
yarl==1.6.3
